.wrapper {
    display: flex;
    align-items: center;
    gap: 12px;
}
  
.username {
    font-weight: 700;
    color: #2F4F4F;
}

.avatarname {
    font-weight: 600;
    color: #2F4F4F;

}

.logout{
  font-size: 16px;
  font-weight: 600;
  min-width: 80px;
  min-height: 30px;
  color: #2F4F4F;
  padding: 2px;
  border-radius: 5px;
  border: 1px solid;
  cursor: pointer;
  background-color: rgba(245, 245, 220, 0.75);
  box-shadow: 3px 3px 6px 0px rgba(0,0,0,0.55);

  &:focus,
  &:hover {
    border: 1px solid #2F4F4F;
    background: #2F4F4F;
    color: #ffffff;
  }
}

.avatar {
    box-shadow: 6px 6px 6px 0px rgba(0,0,0,0.55)
}
  